@model List<ToDo>

<h2>To-Do List</h2>

<form asp-controller="Home" asp-action="Add" method="post">
    <input type="text" name="description" placeholder="Enter new To-Do" required />
    <button type="submit">Add</button>
</form>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Description
            <form asp-controller="Home" asp-action="MarkAsDone" method="post">
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit">Mark as Done</button>
            </form>
        </li>
    }
</ul>
